<div class="modal fade" id="wasteTypeID" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="wastetypepop">
        <div class="modal-header">
          <button type="button" class="close" class="wastetypepop_close" data-dismiss="modal">&times;</button>
          <h2 class="wastetypepop_head"><%= t('drop_list.wastetype.head') %> </h2>
        </div>
        <div class="modal-body">

          <h4 class="wastetypepop_sidehead"><%= t('drop_list.wastetype.sidehead_a') %></h4>
              <ul type="circle" class="wastetypepop_des">
                 <li><%= t('drop_list.wastetype.des_1')%></li>
                  </ul>
          <br>
          <h4 class="wastetypepop_sidehead"><%= t('drop_list.wastetype.sidehead_b') %></h4>
              <ul type="circle" class="wastetypepop_des">
                 <li><%= t('drop_list.wastetype.des_3')%></li>
                  </ul>
          <br>
          <h4 class="wastetypepop_sidehead"><%= t('drop_list.wastetype.sidehead_c') %></h4>
              <ul type="circle" class="wastetypepop_des">
                 <li><%= t('drop_list.wastetype.des_4')%></li>
                  </ul>
          <br>
          <h4 class="wastetypepop_sidehead"><%= t('drop_list.wastetype.sidehead_d') %></h4>
              <ul type="circle" class="wastetypepop_des">
                 <li><%= t('drop_list.wastetype.des_5')%></li>
                  </ul>
        </div>
      </div>
    </div>
  </div>
</div>
